{% extends "base.html" %}

{% block titulo %} inicio {% endblock %}

{% block contenido %} 

<div class="p-5 mb-4 bg-light">
    <div class="container">
      <h1 class="display-3">Bienvenido a la BD de Serendipity</h1>
      <p class="lead">Empieza a CRUDear </p>
      <hr class="my-2">

      <p class="lead">
      </p>    
    </div>
  </div>

{% endblock %}

