.carousel-image {
    width: 100%; /* Set the image width to 100% */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Set maximum height */
  }
  
  .imagen1 {
    width: 100%; /* Set the image width to 100% */
    height: auto; /* Maintain aspect ratio */
    max-height: 400px; /* Set maximum height */
  }

  .black-title {
    background: black;
    color: white;
    padding: 5px 5px;
    border-radius: 2px;
  }
  
  